<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=us-ascii'>
    <title></title>
  </head>

  <body style='font-family:calibri'>
    <p>Congratulations {{ name }},</p>
    <p>This is a message from the DevOps Microsoft Connect sample. You are well on your way to incorporating Office 365 services in your apps.</p>
    <h3>What&#8217;s next?</h3>
    <ul>
      <li>DevOps Team.</li>
      <li>This is a Email for testing and generate events</li>
      <li>Thanks!</li>
    </ul>
    <h3>Give us feedback</h3>
    <ul>
      <li>If you have any trouble running this sample, please <a href='https://github.hpe.com/andres-duran-campos/AWS-DevOps-Tool' target='_blank'>log an issue</a>.</li>
      <li>For general questions about this tool, post to <a href='https://jira.arst.hpeswlab.net:8443/servicedesk/customer/portal/1' target='blank'>DevOps Team</a>. Make sure that your questions or comments are tagged with [PS_office365_Tool].</li>
    </ul>
    <p>Thanks and happy testing!<br>Your DevOps Development team </p>
    <div style='text-align:center; font-family:calibri'>
      <table style='width:100%; font-family:calibri'>
        <tbody>
          <tr>
            <td><a href='https://github.hpe.com/andres-duran-campos/AWS-DevOps-Tool'>See on GitHub</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
